{{! Header file }}
<header id="main-header">
  <!-- Sitename + Tagline -->
  <h1 class="m-none">
    <a href="{{@blog.url}}">{{@blog.title}}</a>
  </h1>
    <p>{{@blog.description}}</p>

  <!-- site navigation -->
  <nav>

  </nav>
</header>
