<aside class="read-next">
    {{#next_post}}
        <a class="read-next-story prev" href="{{url}}">
            Next: {{title}}
        </a>
    {{/next_post}}

    {{#prev_post}}
        <a class="read-next-story next" href="{{url}}">
            Previous: {{title}}
        </a>
    {{/prev_post}}
</aside>
