<style>
.bb {
  border-bottom: 1px solid gray;
  padding: 2px;
  margin: 0 auto;
}
</style>

<!-- TODO: generatively change widths on click, shuffle around with animations etc -->
<section>
  <div class="bb" style="width: 100%;"></div>
  <div class="bb" style="width: 80%;"></div>
  <div class="bb" style="width: 60%;"></div>
  <div class="bb" style="width: 40%;"></div>
  <div class="bb" style="width: 20%;"></div>
  <div class="bb" style="width: 10%;"></div>
</section>
