{{!< default}}

{{> header}}

<main class="main" role="main">
    {{> "loop-standard"}}

    <!-- {{#if pagination}}
        <div class="pagination">
            {{{pagination}}}
        </div>
    {{/if}} -->

    

</main>

{{> footer}}
