{{!< default}}
<main class="main" role="main">
  {{#post}}
    <article class="post-article" role="article" itemscope itemtype="http://schema.org/Article">

      <header class="post-header">
        <h1 class="post-title mb-none" itemprop="headline">{{title}}</h1>

        <!-- Only notes have dates -->
        {{#has tag="note"}}
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished">
              {{date format='dddd DD MMM YYYY'}}
            </time>
        {{/has}}
      </header>

      <div class="post-content" itemprop="articleBody">{{content}}</div>

      <hr />

    </article>

    {{/post}}
</main>

{{> footer}}
